@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/*All body text poppins*/
body{
	font-family: 'Poppins';
  background-color:rgb(248, 211, 222);
}
a {
  text-decoration: none;
  font-weight: bold;
  text-align: center;
}
a:hover{
  color:#FFFFFF;
}
h1 {
  font-size: 4rem;
  text-align: center;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.4rem;
  text-align: center;
}
nav ul {
  display: flex;
  justify-content: space-evenly;
}
main {
  display: flex;
  flex-direction: column;
}
section h2{
  text-align: center;
}
img {
  width: 100%;
}
.group {
  display: flex;
  flex-direction: column;
}
.inner-group {
  display: flex;
  flex-direction: column;
}
.item {
  flex: 1;
}
.item-double {
  flex: 2;
}
.main-text {
  font-size: 1.3rem;
  text-align: center;
}
.project-group img {
  height: 300px;
}
.nav-links {
  text-align: center;
}
.about-img {
  padding: 15% 0 15% 0;
}
.about-text {
  font-size: 1.5rem;
  text-align: left;
  padding: 10px 5px 5px 5px;
}
#projects-section {
  margin: 0 15px 0 15px;
}
.project-group {
  display: flex;
  flex-direction:column;
}
.project-item {
  flex: 1;
}
.project-link {
  padding-left: 50px;
}
.form {
  display: flex;
  justify-content: space-evenly;
  padding: 0 0 0 10px;
}

.form-text-area {
  justify-content:right;
  padding: 10px 10px 10px 75px;
}
ul li {
  list-style-type:none;
  text-align:center;
  padding-right: 10%;
  font-size: 1rem;
}
ul li a {
  text-decoration: none;
}
@media all and (min-width: 600px) {
  main {
    display: flex;
  }
  .introduction .item {
    padding-left: 50px;
  }
  .about .about-text {
    padding-left: 50px;
  }
  .project-item {
    flex: 1;
    padding-right: 15px;
    
  }
  img {
    max-width: 750px;
    max-height: 900px;
  }
  header section {
    flex-direction: row;
  }
  header section h1 {
    flex: 2;
  }
  nav ol {
    justify-content: center;
  }
  main section .group {
    display: flex;
    flex-direction: row;
  }
  .introduction .inner-group {
    flex-direction: column;
  }
  ul li {
    font-size: 1.3rem;
  }
  .project-link {
    padding-left: 100px;
  }
  .project-group {
    flex-direction: row;
  }
}

@media all and (min-width: 800px) {
  .nav-links {
    font-size: 1.3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 2rem;
  }
  .about-text {
    font-size: 1.2rem;
  }
  .main-text {
    font-size: 2rem;
  }
  main .introduction {
    padding: 0 100px 0 100px;
    
  }
  .about .inner-group {
    flex-direction: row;
  }
  main .about {
    padding: 0 10px 0 100px;
  }
  .project-item img {
max-width: 600px;
max-height: 300px;
  }
  .project-link {
    padding-left: 200px;
  }
  .contact {
    padding: 5% 10% 0 10%;
  }
}

@media all and (min-width: 1000px) {
  h1 {
    font-size: 7rem;
  }
  .about-text {
    font-size: 1.5rem;
  }
  main .introduction {
    padding: 0 200px 0 200px;
  }
  main .about {
    padding: 0 50px 0 200px;
  }
  .project-item img {
    padding-left: 10%;

  }
  .contact {
    padding: 10% 20% 0 20%;
  }
  ul li {
    font-size: 1.7rem;
  }
  .project-link {
    padding-left: 250px;
  }
}

@media all and (min-width: 1500px) {
  .nav-links {
    font-size: 2rem;
  }
  .main .item {
    padding-right: 300px;
  }
  .about-text {
    font-size: 2rem;
    padding: 200px 100px 100px 100px;
  }
  .project-item img {
    padding-left: 20%;
  }
  .project-group {
    padding-bottom: 50px;
  }
  .project-item {
    padding-left: 50px;
  }
  .contact {
    padding-left: 30%;
  }
  .project-link {
    padding-left: 350px;
  }
  .contact h2 {
    padding-right: 100px;
  }
  .contact h3 {
    padding-right: 100px;
  }
  .contact ul {
    padding-right: 100px;
  }
}